# **Data Types and Structure Questions**

1.What are data structures, and why are they important?

Ans-Data structures are organized ways to store, manage, and retrieve data efficiently in a computer. They define the layout of data and provide various methods to perform operations like insertion, deletion, searching, and sorting. Common data structures include arrays, lists, stacks, queues, trees, and graphs. They are essential because they help in optimizing program performance, making data processing faster and more efficient. Choosing the right data structure is crucial for solving problems effectively and managing resources wisely. In software development, data structures form the foundation of algorithms and system design, playing a key role in building scalable and robust applications.

2.Explain the difference between mutable and immutable data types with examples?

Ans-Mutable data types can be changed after creation, while immutable ones cannot.

Lists are mutable; you can modify elements: my_list = [1, 2]; my_list[0] = 3.

Strings are immutable; you can't change them directly: my_str = "hello"; modifying a character requires creating a new string.

4.What are the main differences between lists and tuples in Python?

Ans-Lists and tuples are both ordered collections in Python, but they differ mainly in mutability and usage. Lists are mutable, meaning their elements can be changed, added, or removed after creation using methods like append() or remove(). Tuples are immutable; once created, their elements cannot be altered. Lists use square brackets [], while tuples use parentheses (). Because tuples are immutable, they are generally faster and can be used as dictionary keys, unlike lists. Lists are preferred when data may change, while tuples are ideal for fixed collections or data integrity. Both support indexing, slicing, and iteration.

4.Describe how dictionaries store data?

Ans-Dictionaries store data as key-value pairs, allowing fast access to values using unique keys. Internally, they use a hash table, where each key is hashed to determine its index. This structure enables efficient insertion, deletion, and lookup operations, making dictionaries ideal for mapping and quick data retrieval.

5. Why might you use a set instead of a list in Python?

Ans-You might use a set instead of a list in Python when:

You need unique elements: Sets automatically remove duplicates.

Fast membership testing: Checking if an item exists is faster in sets due to hashing.

You don't care about order: Sets are unordered, unlike lists.

Set operations: Sets support operations like union, intersection, and difference, which are useful in tasks involving comparisons between collections.

In short, use a set when uniqueness and performance matter more than order or duplicates.

6.What is a string in Python, and how is it different from a list?

Ans-In Python, a string is a sequence of characters enclosed in quotes (' ' or " "), such as "hello". It is immutable, meaning you cannot change its characters once it's created.

A list, on the other hand, is a sequence of elements (which can be of any data type) enclosed in square brackets, like [1, 'a', 3.5]. Lists are mutable, so you can add, remove, or change elements.

Key differences:

Mutability: Strings are immutable; lists are mutable.

Content: Strings hold characters; lists can hold any data types.

Syntax: Strings use quotes; lists use square brackets.

7.How do tuples ensure data integrity in Python?

Ans-Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be changed, added, or removed after creation. This immutability prevents accidental modification of the data, making tuples ideal for storing fixed collections like coordinates, configuration settings, or database records. Because tuples are immutable:

They maintain consistent values throughout the program.

They can be safely used as dictionary keys or elements in sets.

They reduce bugs caused by unintended data changes.

Thus, tuples help protect critical or constant data, ensuring it remains reliable and unchanged during execution.

8.What is a hash table, and how does it relate to dictionaries in Python?

Ans-A hash table is a data structure that stores key-value pairs and allows for efficient data retrieval. It uses a hash function to convert keys into unique indices in an internal array, where the corresponding values are stored. This enables constant-time average-case complexity for operations like insertion, deletion, and lookup.

In Python, the dictionary (dict) is implemented using a hash table. When a key is added to a dictionary, Python computes its hash value to determine where to store the associated value. This structure allows dictionaries to provide fast access to values based on their keys, ensuring performance and efficiency.

9.Can lists contain different data types in Python?

Ans-Yes, lists in Python can contain different data types. A single list can hold integers, floats, strings, booleans, other lists, and even custom objects.

mixed_list =[1, "hello", 3.14, True, [2, 4]]

10.Explain why strings are immutable in Python.

Ans-Strings are immutable in Python to ensure security, consistency, and efficiency. Once a string is created, it cannot be changed—any modification creates a new string. Here’s why:

**Memory efficiency**: Immutable objects can be reused, reducing memory overhead.

**Hashing**: Strings are used as dictionary keys, which require the data to be constant (hash values must not change).

**Thread safety**: Immutability prevents unexpected side effects in multi-threaded programs.

**Predictability:** Immutable strings avoid bugs caused by accidental changes.

11.What advantages do dictionaries offer over lists for certain tasks?

Ans-Dictionaries offer several advantages over lists for certain tasks, especially when working with key-value relationships:

Fast lookups: Accessing values by key is faster (constant time) compared to searching through a list.

Clear associations: Dictionaries store data as key-value pairs, making it easier to represent structured data (e.g., user info, settings).

No need to know index: You access data by key, not by position.

Dynamic and flexible: Keys can be any immutable type, allowing for custom identifiers.

12.Describe a scenario where using a tuple would be preferable over a list.

Ans- A scenario where using a tuple is preferable over a list is when you need to store a fixed collection of values that should not change throughout the program.

Example:
Suppose you're storing the coordinates of a location on a map (latitude, longitude):

location = (28.6139, 77.2090)  #Coordinates of New Delhi

13.How do sets handle duplicate values in Python?

Ans-In Python, sets automatically eliminate duplicate values.

When you create a set, it only keeps unique elements. If you try to add duplicates, they are ignored.

Example:
my_set = {1, 2, 2, 3, 4, 4, 4, 5}
print(my_set)
Output:
Copy
Edit
{1, 2, 3, 4, 5}

14.How does the “in” keyword work differently for lists and dictionaries?

Ans- The in keyword is used to check membership, but it works differently for lists and dictionaries in Python.

For lists:
in checks whether a value exists in the list.

my_list = [10, 20, 30]
print(20 in my_list)   # True
print(25 in my_list)   # False

For dictionaries:
in checks whether a key exists in the dictionary, not a value.


my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)      # True
print(1 in my_dict)        # False

15.Can you modify the elements of a tuple? Explain why or why not.

Ans- No, you cannot modify the elements of a tuple in Python.

Example:
my_tuple = (1, 2, 3)
my_tuple[0] = 10   This will raise a TypeError

16.What is a nested dictionary, and give an example of its use case?

Ans- A nested dictionary is a dictionary within another dictionary. It allows you to store complex, structured data in a hierarchical way.

Example:

students = {
    "101": {"name": "Ashu", "age": 20, "grade": "A"},
    "102": {"name": "sohan", "age": 22, "grade": "B"},
    "103": {"name": "satyam", "age": 21, "grade": "A"},
}

Nested dictionaries are useful when managing data like:

Student records (as above)

JSON-like data structures

Configuration settings

Inventory systems (e.g., categories and products)

17.Describe the time complexity of accessing elements in a dictionary?

Ans- Time Complexity of Accessing Elements in a Dictionary (Python):

Average Case:
Time Complexity: O(1) (constant time)

This is because Python dictionaries use a hash table. The key is hashed, and the hash is used to directly locate the value.

Worst Case:
Time Complexity: O(n) (in rare cases)

This can occur due to hash collisions (when multiple keys map to the same hash), though Python handles this efficiently in practice.

18.In what situations are lists preferred over dictionaries?

Ans- Lists are preferred over dictionaries in situations where:

1.Order matters:
Lists maintain the insertion order of elements.

Useful when the position/index of data is important.

2.Data is homogeneous:
Lists are ideal for storing a collection of similar items, like integers, strings, or objects.

3.You need to iterate over values only.

4.You need to frequently append or slice.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans- In older versions (before Python 3.7), dictionaries did not guarantee the order of items.That means when you iterated over a dictionary, items could appear in any arbitrary order, regardless of insertion.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

**Access Method:**

-By index (e.g., list[0]).

-By key (e.g., dict['name']).

**Time complexity:**

-O(1) for index access.

-O(1) for key access (on average).

***Requirement: ***

Need to know the position.

Need to know the key.

**Use Case:**

-Use when order matters or data is uniform.

-Use when data has labels or unique identifiers

# **Practial Questions**

In [1]:
#1.Write a code to create a string with your name and print it.

string="Ashutosh Singh"
print("My name is",string)

My name is Ashutosh Singh

In [2]:
#Write a code to find the length of the string "Hello World.
string="Hello World"
len(string)

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"P

string="Python Programming"
string[0:3]

'Pyt'

In [5]:
#Write a code to convert the string "hello" to uppercase.
string="hello"
string.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string="I like apple"
string.replace("apple","orange")

'I like orange'

In [9]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
lst=[]
for i in range(1,6):
  lst.append(i)
  print(i)

1
2
3
4
5

In [1]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [2]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [3]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst=['a','b','c','d']
lst[1]

'b'

In [4]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [5]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

In [6]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red','green','blue','yellow')
t[-2]

'blue'

In [7]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers=(10,20,3,4,5)
min(numbers)

3

In [8]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog','cat','rabbit')
t.index('cat')

1

In [12]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t=('apple','guava','kiwi')
if "kiwi" in t:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

In [14]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)
type(s)

{'c', 'a', 'b'}

set

In [16]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [17]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [18]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
union=s1|s2
print(union)

{1, 2, 3, 4, 5}

In [19]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
inter=s1&s2
print(inter)

{2, 3}

In [20]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name":"Ashu","age":22,"city":"varanasi"}
print(d)
type(d)

{'name': 'Ashu', 'age': 22, 'city': 'varanasi'}

dict

In [22]:
#22.a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={'name': 'John', 'age': 25}
d['country']="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name':'ashu','age':22}
d['name']

'ashu'

In [29]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'.
d= {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
  print("city exists in the dictionary")
else:
  print("city does not exist in the dictionary")

city exists in the dictionary

In [36]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst=[1,2,3]
print("list:",lst)


t=(1,2,3)
print("tuple:",t)


d={'name':'ashu','age':22}
print("dictioanry:",d)

list: [1, 2, 3]
tuple: (1, 2, 3)
dictioanry: {'name': 'ashu', 'age': 22}

In [38]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_no=[random.randint(1,100) for i in range(5)]

random_no.sort()

print("sorted random numbers:",random_no)

sorted random numbers: [11, 44, 49, 68, 86]

In [39]:
#28. Write a code to create a list with strings and print the element at the third index.
fruits=["apple","mango","guava","pear"]

print("element at the third index:",fruits[3])

element at the third index: pear

In [43]:
#29.Write a code to combine two dictionaries into one and print the result.
d1={'a':1,'b':2}
d2={'c':3,'d':4}

combined_dict={**d1, **d2}

print("combined dictionary:",combined_dict)

combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [44]:
#30.Write a code to convert a list of strings into a set.
lst=['a','b','c']
s=set(lst)
print("set:",s)

set: {'c', 'a', 'b'}